<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hfxt.fmmall.dao.ProductMapper">

    <resultMap id="BaseResultMap" type="Product">
            <id property="productId" column="product_id" jdbcType="VARCHAR"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="rootCategoryId" column="root_category_id" jdbcType="INTEGER"/>
            <result property="soldNum" column="sold_num" jdbcType="INTEGER"/>
            <result property="productStatus" column="product_status" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_id,product_name,category_id,
        root_category_id,sold_num,product_status,
        content,create_time,update_time
    </sql>
</mapper>
